			section(class="heading")
				div(class="container")
					div(class="table")
						div(class="angle-decore angle-parent angle-decore-LU")
							div(class="angle-decore sub-angle sub-angle-decore-LU")
						div(class="angle-decore angle-parent angle-decore-RU")
							div(class="angle-decore sub-angle sub-angle-decore-RU")
						div(class="angle-decore angle-parent angle-decore-LD")
							div(class="angle-decore sub-angle sub-angle-decore-LD")
						div(class="angle-decore angle-parent angle-decore-RD")
							div(class="angle-decore sub-angle sub-angle-decore-RD")
						div(class="content-left")
						div(class="content-right")