
doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title United-fleet
	body#body(lang="ru")
		include pug/modules/header.pug 
		main#main  
		
			div#background
			-for(let i=0; i<6; i++)
				section.heading
					div.container
						div.table
						div.angle-decore.angle-parent.angle-decore-LU
							div.angle-decore.sub-angle.sub-angle-decore-LU
						div.angle-decore.angle-parent.angle-decore-RU
							div.angle-decore.sub-angle.sub-angle-decore-RU
						div.angle-decore.angle-parent.angle-decore-LD
							div.angle-decore.sub-angle.sub-angle-decore-LD
						div.angle-decore.angle-parent.angle-decore-RD
							div.angle-decore.sub-angle.sub-angle-decore-RD
						div.content-left
						div.content-right

			nav(id="main-menu")
				div(class="main-menu")
					h2 Главное меню 
					ul(class="menu-list")
						-
							var arr=["item-1","item-2","item-3","item-4","item-5","item-6"]
						each item in arr
							li.menu-item=item

				div(class="page-navigate")
					h2 Навигация 
					ul(class="menu-list")
						-
							var arr=["item-1","item-2","item-3","item-4","item-5","item-6"]
						each item in arr
							li.menu-item=item

			div(class="arrow arrow-U smoll-arrow")
				div(class="arrow arrow-U sub-arrow")
			div(class="arrow arrow-D smoll-arrow")
				div(class="arrow arrow-D sub-arrow")
			div(class="arrow arrow-L smoll-arrow")
				div(class="arrow arrow-L sub-arrow")
			div(class="arrow arrow-R smoll-arrow")
				div(class="arrow arrow-R sub-arrow")

			div(id="b_menu")
				div(id="b_menu-elems")
				-for(let i=0; i<6; i++)
					div(class="b_menu-elem")


			div(class="menu-trigger")
				div(class="arrow arrow-U smoll-arrow pageNav-arrow")
					div(class="arrow arrow-U sub-arrow pageNav-arrow")
				button(class="menu-btn" type="button")
					-
						var arr=["Ю","Н","Е","М"]
					each item in arr
						div.wrap-btn-simbol=item

				div(class="arrow arrow-В smoll-arrow pageNav-arrow")
					div(class="arrow arrow-В sub-arrow pageNav-arrow")

		footer 

