doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title United-fleet
	body(id="body")
		header 
		main 

			section(class="heading")
				div(class="container")
					div(class="table")
						div(class="angle-decore angle-parent angle-decore-LU")
							div(class="angle-decore sub-angle sub-angle-decore-LU")
						div(class="angle-decore angle-parent angle-decore-RU")
							div(class="angle-decore sub-angle sub-angle-decore-RU")
						div(class="angle-decore angle-parent angle-decore-LD")
							div(class="angle-decore sub-angle sub-angle-decore-LD")
						div(class="angle-decore angle-parent angle-decore-RD")
							div(class="angle-decore sub-angle sub-angle-decore-RD")
						div(class="content-left")
						div(class="content-right")

			section(class="heading")
				div(class="container")
					div(class="table")
						div(class="angle-decore angle-parent angle-decore-LU")
							div(class="angle-decore sub-angle sub-angle-decore-LU")
						div(class="angle-decore angle-parent angle-decore-RU")
							div(class="angle-decore sub-angle sub-angle-decore-RU")
						div(class="angle-decore angle-parent angle-decore-LD")
							div(class="angle-decore sub-angle sub-angle-decore-LD")
						div(class="angle-decore angle-parent angle-decore-RD")
							div(class="angle-decore sub-angle sub-angle-decore-RD")
						div(class="content-left")
						div(class="content-right")

			section(class="heading")
				div(class="container")
					div(class="table")
						div(class="angle-decore angle-parent angle-decore-LU")
							div(class="angle-decore sub-angle sub-angle-decore-LU")
						div(class="angle-decore angle-parent angle-decore-RU")
							div(class="angle-decore sub-angle sub-angle-decore-RU")
						div(class="angle-decore angle-parent angle-decore-LD")
							div(class="angle-decore sub-angle sub-angle-decore-LD")
						div(class="angle-decore angle-parent angle-decore-RD")
							div(class="angle-decore sub-angle sub-angle-decore-RD")
						div(class="content-left")
						div(class="content-right")

			section(class="heading")
				div(class="container")
					div(class="table")
						div(class="angle-decore angle-parent angle-decore-LU")
							div(class="angle-decore sub-angle sub-angle-decore-LU")
						div(class="angle-decore angle-parent angle-decore-RU")
							div(class="angle-decore sub-angle sub-angle-decore-RU")
						div(class="angle-decore angle-parent angle-decore-LD")
							div(class="angle-decore sub-angle sub-angle-decore-LD")
						div(class="angle-decore angle-parent angle-decore-RD")
							div(class="angle-decore sub-angle sub-angle-decore-RD")
						div(class="content-left")
						div(class="content-right")

			section(class="heading")
				div(class="container")
					div(class="table")
						div(class="angle-decore angle-parent angle-decore-LU")
							div(class="angle-decore sub-angle sub-angle-decore-LU")
						div(class="angle-decore angle-parent angle-decore-RU")
							div(class="angle-decore sub-angle sub-angle-decore-RU")
						div(class="angle-decore angle-parent angle-decore-LD")
							div(class="angle-decore sub-angle sub-angle-decore-LD")
						div(class="angle-decore angle-parent angle-decore-RD")
							div(class="angle-decore sub-angle sub-angle-decore-RD")
						div(class="content-left")
						div(class="content-right")

			section(class="heading")
				div(class="container")
					div(class="table")
						div(class="angle-decore angle-parent angle-decore-LU")
							div(class="angle-decore sub-angle sub-angle-decore-LU")
						div(class="angle-decore angle-parent angle-decore-RU")
							div(class="angle-decore sub-angle sub-angle-decore-RU")
						div(class="angle-decore angle-parent angle-decore-LD")
							div(class="angle-decore sub-angle sub-angle-decore-LD")
						div(class="angle-decore angle-parent angle-decore-RD")
							div(class="angle-decore sub-angle sub-angle-decore-RD")
						div(class="content-left")
						div(class="content-right")


			nav(id="main-menu")
				div(class="main-menu")
					h2 Главное меню 
					il(class="menu-list")
						li(class="menu-item") menu-item
						li(class="menu-item") menu-item
						li(class="menu-item") menu-item
						li(class="menu-item") menu-item
						li(class="menu-item") menu-item
						li(class="menu-item") menu-item
				div(class="page-navigate")
					h2 Навигация 
					il(class="menu-list")
						li(class="menu-item") menu-item
						li(class="menu-item") menu-item
						li(class="menu-item") menu-item
						li(class="menu-item") menu-item
						li(class="menu-item") menu-item
						li(class="menu-item") menu-item

			div(class="arrow arrow-U smoll-arrow")
				div(class="arrow arrow-U sub-arrow")
			div(class="arrow arrow-D smoll-arrow")
				div(class="arrow arrow-D sub-arrow")
			div(class="arrow arrow-L smoll-arrow")
				div(class="arrow arrow-L sub-arrow")
			div(class="arrow arrow-R smoll-arrow")
				div(class="arrow arrow-R sub-arrow")

			div(id="b_menu")
				div(id="b_menu-elems")
					div(class="b_menu-elem")
					div(class="b_menu-elem")
					div(class="b_menu-elem")

			div(class="menu-trigger")
				div(class="arrow arrow-U smoll-arrow pageNav-arrow")
					div(class="arrow arrow-U sub-arrow pageNav-arrow")
				button(class="menu-btn" type="button")
					div(class="wrap-btn-simbol") Ю
					div(class="wrap-btn-simbol") Н
					div(class="wrap-btn-simbol") Е
					div(class="wrap-btn-simbol") М
				div(class="arrow arrow-В smoll-arrow pageNav-arrow")
					div(class="arrow arrow-В sub-arrow pageNav-arrow")





		footer 

